.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.frame{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:900px;
  margin: 10px 0px 10px 0px;
padding: 10px;
}

.frameHeader{
  display: flex;

  flex-direction: row;
}
.headerText{
  margin-left: 10px;
  display: flex;
  flex-direction:column ;
}
.headerLine1{
  display: flex;
  flex-direction: row;

  align-items: center;
}
.headerLine2{
display: flex;
}
.headerLine3{
  color:#7b91b1;
  line-height: 1.25;
  font-size: 11px;
  font-weight: 500;
} 
h3{
  margin-top: 0px;
}


.sociallBtn{
  display:flex;
  height:25px;
  width:25px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 35px;
  font-size: 12px;
  margin-left: 10px;
  padding: 3px;
  border-color: white;
}
.btnLink{
  color:white;
  text-decoration: none;
}
.btnLink:visited,.btnLink:hover{
  color: White;
  text-decoration: none;
}


.logo{
  height: 100px;
  width:100px;
}
.logoIcon{
  font-size: 15px !important;

}
.screenShot{
  height: 250px;
  width: 300px
}
.screenShot:hover{
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}
.frameContent{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
table {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 5px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 98%;
  margin: 5px 0px 5px 0px;
}
.frameBoldText{
  font-weight: 600;
  color: rgb(82, 82, 82);
}
.frameText{
  font-size: 15px;
  font-weight: 800;
}
th{
  font-weight: 600;
  color: rgb(82, 82, 82);
}
td{
  font-size: 15px;
  font-weight: 800;

}
th, td {
  padding: 2px;
  width:25%;
  text-align: center;
}
th:first-child,td:first-child{ 
  width:30%;
  /* text-align: left; */
  border-right: 3px solid white;
  border-radius: 5px;
}
.tDivider{
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.horizontalContainer{
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.verticalContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
  width:80vw;
}

.modalDetails{
  width: 30vw;
  padding:10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  height: fit-content;

}

.infoHeader{
  margin:10px 0px 10px 0px;
}

.showText{
  color: blue;
  cursor: pointer;
  font-size: 13px;
}
.screenShotLarge{
  width:100%;
  height:100%;
}

.infoBoxHolder{
 
  margin: 0px 5px 0px 5px;
}
.infoBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:50%;
  margin: 0px 5px 0px 5px;

}

.leaflet-container {
  height: 200px;
}

